.nav-bar {
  height: 60px;
  background-color: #316650;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.logo {
  user-select: none;
}

.list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.list-item {
  cursor: pointer;
}

.main-content {
  height: calc(100vh - 60px - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 60px;
  text-align: center;
}
