.nav-lobby-view{
  height: 60px;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.content {
  height: calc(100vh - 60px);
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.lobby-list {
  background-color: #222;
  width: 100%;
  height: 100%;
  border: 1px solid #334155;
  border-radius: 12px;
  #display: flex;
  #flex-direction: column;
  #align-items: center;
  overflow-y: auto;
  overscroll-behavior-y: none;
}

table {
  width: 100%;
  text-align: left;
}

thead tr th {
  position: sticky;
  top: 0;
  height: 26px;
  background-color: black;
}


th {
  padding-left: 5px;
  padding-top: 5px;
}
